footer
    h6 Algunos personajes...
    div#fotosPie
        figure
            a(href="https://es.wikipedia.org/wiki/Son_Gok%C5%AB")
                img(src=ruta+"imagenes/goku.png", alt="Son Goku")
            figcaption Son Goku
        figure
            a(href="https://es.wikipedia.org/wiki/Seiya_de_Pegaso")
                img(src=ruta + "imagenes/seiya.png", alt="Seiya")
            figcaption Seiya
        figure
            a(href="https://es.wikipedia.org/wiki/Himura_Kenshin")
                img(src=ruta + "imagenes/kenshin.png", alt="Kenshin")
            figcaption Kenshin
        figure
            a(href="https://es.wikipedia.org/wiki/Lupin_III")
                img(src=ruta + "imagenes/lupin.png", alt="Lupin III")
            figcaption Lupin III
        figure
            a(href="https://es.wikipedia.org/wiki/Ranma_Saotome")
                img(src=ruta + "imagenes/ranma.png", alt="Ranma")
            figcaption Ranma
    h6 Copyright I.E.S. Oretania - Diego Hurtado Rosales
    h6 Curso 2016-2017
